TWITCH_USERNAME=kalathraslolweapon

TWITCH_CLIENT_ID=tu_client_id
TWITCH_CLIENT_SECRET=tu_client_secret
TWITCH_OAUTH_PRIVATE=tu_oauth_privado_opcional

TWITCH_QUALITY=best
TWITCH_ROOT_PATH=/ruta/a/tus/grabaciones
TWITCH_REFRESH=5
TWITCH_TIMEZONE=America/Santiago

TWITCH_CHAT_DOWNLOAD=false
TWITCH_DOWNLOAD_VOD=false

TWITCH_COMPRESS_PROCESSED_ENABLED=false
TWITCH_COMPRESS_PROCESSED_PATH=
TWITCH_COMPRESS_PROCESSED_PRESET_FILE=
TWITCH_COMPRESS_PROCESSED_PRESET_NAME=Fast 1080p60
TWITCH_COMPRESS_PROCESSED_SUFFIX=_compressed

TWITCH_ARCHIVE_PROCESSED_ENABLED=false
TWITCH_ARCHIVE_PROCESSED_PATH=
TWITCH_ARCHIVE_PROCESSED_MODE=copy
TWITCH_MAKE_STREAM_FOLDER=false
TWITCH_SHORT_FOLDER=false
TWITCH_STREAMLINK_DEBUG=false

TWITCH_HLS_SEGMENTS_LIVE=3
TWITCH_HLS_SEGMENTS_VOD=10
TWITCH_DELETE_RECORDED_MODE=1
TWITCH_REQUEST_TIMEOUT=15

FFMPEG_BINARY=ffmpeg
HANDBRAKE_BINARY=HandBrakeCLI
STREAMLINK_BINARY=streamlink
TCD_BINARY=tcd

LOG_LEVEL=INFO
