TWITCH_CLIENT_ID=tu_client_id
TWITCH_CLIENT_SECRET=tu_client_secret
TWITCH_OAUTH_PRIVATE=tu_oauth_privado_opcional

TWITCH_QUALITY=best
TWITCH_ROOT_PATH=/ruta/a/tus/grabaciones
TWITCH_REFRESH=5
TWITCH_TIMEZONE=America/Santiago

TWITCH_CHAT_DOWNLOAD=false
TWITCH_DOWNLOAD_VOD=false
TWITCH_MAKE_STREAM_FOLDER=false
TWITCH_SHORT_FOLDER=false
TWITCH_STREAMLINK_DEBUG=false

TWITCH_HLS_SEGMENTS_LIVE=3
TWITCH_HLS_SEGMENTS_VOD=10
TWITCH_DELETE_RECORDED_MODE=1
TWITCH_REQUEST_TIMEOUT=15

FFMPEG_BINARY=ffmpeg
STREAMLINK_BINARY=streamlink
TCD_BINARY=tcd

LOG_LEVEL=INFO